xml/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="phxrpc" type="phxrpcType">
        <xs:annotation>
            <xs:documentation>sudo apt install libxml2-utils; xmllint &amp;amp;#45;&amp;amp;#45;noout &amp;amp;#45;&amp;amp;#45;schema schema.xsd dream.xml</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="fieldType">
        <xs:simpleContent>
            <xs:extension base="xs:byte">
                <xs:attribute type="xs:string" name="type" use="required"/>
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="repeated" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="messageType">
        <xs:sequence>
            <xs:element type="fieldType" name="field" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="valueType">
        <xs:simpleContent>
            <xs:extension base="xs:byte">
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="enumType">
        <xs:sequence>
            <xs:element type="valueType" name="value" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="importsType">
        <xs:sequence>
            <xs:element type="xs:string" name="import" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="rpcType">
        <xs:sequence>
            <xs:element type="xs:byte" name="cmdID"/>
            <xs:element type="xs:string" name="optString"/>
            <xs:element type="xs:string" name="usage"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="paramter"/>
        <xs:attribute type="xs:string" name="returns"/>
    </xs:complexType>
    <xs:complexType name="serviceType">
        <xs:sequence>
            <xs:element type="rpcType" name="rpc" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="phxrpcType">
        <xs:sequence>
            <xs:element type="xs:string" name="package"/>
            <xs:element type="messageType" name="message" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="enumType" name="enum" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="importsType" name="imports" maxOccurs="1" minOccurs="0"/>
            <xs:element type="serviceType" name="service" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>